<div class="container">
	<div class="row">
			<img src="assets/img/burger.png" alt="Yum." id="burger_img">
			<h1 style="text-align: center;">Burgers</h1>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6" style="text-align: center;">
			<h2 class="animated slideInLeft">The Menu</h2>
			<hr>
			<ul style="list-style: none;">
				{{#each burgers}}
					{{#unless this.devoured}}
						<li>
							{{burger_name}}
							<br>
							<form action="/{{this.id}}?_method=PUT" method="POST">
								<input type="hidden" name="devoured" value="true">
								<button type="submit">EAT IT.</button>
							</form>
						</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>
		
		<div class="col-md-6" style="text-align: center;">
			<h2 class="animated slideInRight">You ate it!</h2>
			<hr>
			<ul style="list-style: none;">
				{{#each burgers}}
					{{#if this.devoured}}
						<li>
							{{burger_name}}
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" style="text-align: center;">
			<h2>New Burger!</h2>
			<form class="create-update-form" action="/" method="POST">
			  <div class="form-group">
			    <label for="ca">New Burger:</label>
			    <input type="text" id="ca" name="name">
			  </div>
			  <button type="submit">Add Burger</button>
			</form>
		</div>
		<div class="col-md-4"></div>
	</div>
		
</div>